@use "sass:map";

.sider {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// Color

@each $color in $component-colors {
  .sider-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $sider-patterns {
  .sider-pattern-#{$pattern} {
    @include sider-pattern-mixin($pattern);
  }
}

// Width

@each $width in $sider-widths {
  .sider-width-#{$width} {
    @include map-props-mixin(
      map.get($component-width-sizing, $width));
  }
}
