.close {
  @include component-hover-mixin;

  box-sizing: border-box;
  display: inline-flex;

  &:hover {
    cursor: pointer;
  }

  svg {
    height: 100%;
  }
}

@each $size in $close-sizes {
  .close-size-#{$size} {
    @include map-props-mixin(map-get($icon-height-sizing, $size));
  }
}
