$box-border-width: var(--border-width-base);
$box-patterns: ("solid", "subtle", "outline") !default;
$box-shapes: (
  "base",
  "rounded"
) !default;
$box-sizes: (
  "sm": (
    "height": "6",  "padding": "3", "width": "6"
  ),
  "base": (
    "height": "8",  "padding": "4", "width": "8"
  ),
  "md": (
    "height": "10", "padding": "4", "width": "10"
  ),
  "lg": (
    "height": "12", "padding": "5", "width": "12"
  ),
  "xl": (
    "height": "14", "padding": "6", "width": "14"
  ),
  "xxl": (
    "height": "16", "padding": "7", "width": "16"
  )
) !default;
