.divider {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  position: relative;
  white-space: nowrap;

  &::after,
  &::before {
    border-top: $divider-border-width solid $divider-border-color;
    content: "";
    flex-grow: 1;
    position: relative;
    top: 50%;
    width: 50%;
  }
}

.divider-children {
  display: inline-flex;
}

// Alignments

.divider-align-start {
  justify-content: flex-start;

  &::before {
    flex-grow: 0;
    width: 0%;
  }
}

.divider-align-center {
  justify-content: center;
}

.divider-align-end {
  justify-content: flex-end;

  &::after {
    flex-grow: 0;
    width: 0%;
  }
}

// Size

@each $size, $props in $divider-sizes {
  .divider-size-#{$size} {

    $gap      : map-get($props, "gap");
    $font-size: map-get($props, "font-size");
    $margin-y : map-get($props, "margin-y");

    @include map-props-mixin(
      map-get($component-font-sizing, $font-size));

    @include map-props-mixin(
      map-get($component-gap-sizing, $gap));

    @include map-props-mixin(
      map-get($component-margin-y-sizing, $margin-y));
  }
}
