@use "sass:map";

.divider {
  border: 0;
  border-color: $divider-border-color;
  border-style: solid;
  box-sizing: border-box;
  margin: 0;
}

.divider.component-orientation-vertical {
  border-left-width: $divider-border-width;
}

.divider.component-orientation-horizontal {
  border-top-width: $divider-border-width;
}
