$divider-border-color: var(--color-border) !default;
$divider-border-width: var(--component-border-width-base) !default;
$divider-sizes: (
  "4": (
    "font-size": "sm", "gap": "12",  "margin": "4"
  ),
  "8": (
    "font-size": "sm", "gap": "12", "margin": "8"
  ),
  "12": (
    "font-size": "sm", "gap": "12", "margin": "12",
  ),
  "16": (
    "font-size": "sm", "gap": "12", "margin": "16",
  )
) !default;
