:root {
  --border-radius-base: #{$border-radius-base};
  --border-width-base : #{$border-width-base};

  --component-border-radius-base: #{$component-border-radius-base};
  --component-border-width-base : #{$component-border-width-base};
}
