:root {
  --brightness-4: #{$brightness-4};
  --brightness-8: #{$brightness-8};
  --brightness-16: #{$brightness-16};
  --brightness-24: #{$brightness-24};
  --brightness-32: #{$brightness-32};

  --component-brightness-base: #{$component-brightness-base};
}
