:root {
  /**
   *
   * Theme (Base)
   *
   */

  /* Primary */

  --color-primary: #{$color-primary};
  --color-primary-yiq: #{$color-primary-yiq};
  --color-primary-h: #{color-hue-from-hex($color-primary)};
  --color-primary-s: #{color-saturation-from-hex($color-primary)};
  --color-primary-l: #{color-lightness-from-hex($color-primary)};

  // -- Light

  --color-primary-lt: #{$color-primary-lt};

  // -- Subtle

  --color-primary-subtle: #{$color-primary-subtle};
  --color-primary-subtle-yiq: #{$color-primary-subtle-yiq};
  --color-primary-subtle-h: #{color-hue-from-hex($color-primary-subtle)};
  --color-primary-subtle-s: #{color-saturation-from-hex($color-primary-subtle)};
  --color-primary-subtle-l: #{color-lightness-from-hex($color-primary-subtle)};

  /* Secondary */

  --color-secondary: #{$color-secondary};
  --color-secondary-yiq: #{$color-secondary-yiq};
  --color-secondary-h: #{color-hue-from-hex($color-secondary)};
  --color-secondary-s: #{color-saturation-from-hex($color-secondary)};
  --color-secondary-l: #{color-lightness-from-hex($color-secondary)};

  // -- Light

  --color-secondary-lt: #{$color-secondary-lt};

  // -- Subtle

  --color-secondary-subtle: #{$color-secondary-subtle};
  --color-secondary-subtle-yiq: #{$color-secondary-subtle-yiq};
  --color-secondary-subtle-h: #{color-hue-from-hex($color-secondary-subtle)};
  --color-secondary-subtle-s: #{color-saturation-from-hex($color-secondary-subtle)};
  --color-secondary-subtle-l: #{color-lightness-from-hex($color-secondary-subtle)};

  /* Accent */

  --color-accent: #{$color-accent};
  --color-accent-yiq: #{$color-accent-yiq};
  --color-accent-rgb: #{color-hex-to-rgb($color-accent)};
  --color-accent-h: #{color-hue-from-hex($color-accent)};
  --color-accent-s: #{color-saturation-from-hex($color-accent)};
  --color-accent-l: #{color-lightness-from-hex($color-accent)};

  // -- Light

  --color-accent-lt: #{$color-accent-lt};

  // -- Subtle

  --color-accent-subtle: #{$color-accent-subtle};
  --color-accent-subtle-yiq: #{$color-accent-subtle-yiq};
  --color-accent-subtle-h: #{color-hue-from-hex($color-accent-subtle)};
  --color-accent-subtle-s: #{color-saturation-from-hex($color-accent-subtle)};
  --color-accent-subtle-l: #{color-lightness-from-hex($color-accent-subtle)};

  /**
   *
   * Theme (Status)
   *
   */


  /* Default */

  --color-default: #{$color-default};
  --color-default-yiq: #{$color-default-yiq};
  --color-default-h: #{color-hue-from-hex($color-default)};
  --color-default-s: #{color-saturation-from-hex($color-default)};
  --color-default-l: #{color-lightness-from-hex($color-default)};

  // -- Light

  --color-default-lt: #{$color-default-lt};

  // -- Subtle

  --color-default-subtle: #{$color-default-subtle};
  --color-default-subtle-yiq: #{$color-default-subtle-yiq};
  --color-default-subtle-h: #{color-hue-from-hex($color-default-subtle)};
  --color-default-subtle-s: #{color-saturation-from-hex($color-default-subtle)};
  --color-default-subtle-l: #{color-lightness-from-hex($color-default-subtle)};

  /* Success */

  --color-success: #{$color-success};
  --color-success-yiq: #{$color-success-yiq};
  --color-success-h: #{color-hue-from-hex($color-success)};
  --color-success-s: #{color-saturation-from-hex($color-success)};
  --color-success-l: #{color-lightness-from-hex($color-success)};

  // -- Light

  --color-success-lt: #{$color-success-lt};

  // -- Subtle

  --color-success-subtle: #{$color-success-subtle};
  --color-success-subtle-yiq: #{$color-success-subtle-yiq};
  --color-success-subtle-h: #{color-hue-from-hex($color-success-subtle)};
  --color-success-subtle-s: #{color-saturation-from-hex($color-success-subtle)};
  --color-success-subtle-l: #{color-lightness-from-hex($color-success-subtle)};

  /* Info */

  --color-info: #{$color-info};
  --color-info-yiq: #{$color-info-yiq};
  --color-info-h: #{color-hue-from-hex($color-info)};
  --color-info-s: #{color-saturation-from-hex($color-info)};
  --color-info-l: #{color-lightness-from-hex($color-info)};

  // -- Light

  --color-info-lt: #{$color-info-lt};

  // -- Subtle

  --color-info-subtle: #{$color-info-subtle};
  --color-info-subtle-yiq: #{$color-info-subtle-yiq};
  --color-info-subtle-h: #{color-hue-from-hex($color-info-subtle)};
  --color-info-subtle-s: #{color-saturation-from-hex($color-info-subtle)};
  --color-info-subtle-l: #{color-lightness-from-hex($color-info-subtle)};

  /* Warning */

  --color-warning: #{$color-warning};
  --color-warning-yiq: #{$color-warning-yiq};
  --color-warning-h: #{color-hue-from-hex($color-warning)};
  --color-warning-s: #{color-saturation-from-hex($color-warning)};
  --color-warning-l: #{color-lightness-from-hex($color-warning)};

  // -- Light

  --color-warning-lt: #{$color-warning-lt};

  // --Subtle

  --color-warning-subtle: #{$color-warning-subtle};
  --color-warning-subtle-yiq: #{$color-warning-subtle-yiq};
  --color-warning-subtle-h: #{color-hue-from-hex($color-warning-subtle)};
  --color-warning-subtle-s: #{color-saturation-from-hex($color-warning-subtle)};
  --color-warning-subtle-l: #{color-lightness-from-hex($color-warning-subtle)};

  /* Error */

  --color-error: #{$color-error};
  --color-error-yiq: #{$color-error-yiq};
  --color-error-h: #{color-hue-from-hex($color-error)};
  --color-error-s: #{color-saturation-from-hex($color-error)};
  --color-error-l: #{color-lightness-from-hex($color-error)};

  // -- Light

  --color-error-lt: #{$color-error-lt};

  // -- Subtle

  --color-error-subtle: #{$color-error-subtle};
  --color-error-subtle-yiq: #{$color-error-subtle-yiq};
  --color-error-subtle-h: #{color-hue-from-hex($color-error-subtle)};
  --color-error-subtle-s: #{color-saturation-from-hex($color-error-subtle)};
  --color-error-subtle-l: #{color-lightness-from-hex($color-error-subtle)};

  /**
   *
   * Theme (Light & Dark)
   *
   */

  /* White */

  --color-white: #{$color-white};
  --color-white-yiq: #{$color-white-yiq};

  // -- Light

  --color-white-lt: #{$color-white-lt};

  // -- Subtle

  --color-white-subtle: #{$color-white-subtle};

  /* Light */

  --color-light: #{$color-light};
  --color-light-yiq: #{$color-light-yiq};
  --color-light-h: #{color-hue-from-hex($color-light)};
  --color-light-s: #{color-saturation-from-hex($color-light)};
  --color-light-l: #{color-lightness-from-hex($color-light)};

  // -- Light

  --color-light-lt: #{$color-light-lt};

  // -- Subtle

  --color-light-subtle: #{$color-light-subtle};
  --color-light-subtle-yiq: #{$color-light-subtle-yiq};
  --color-light-subtle-h: #{color-hue-from-hex($color-light-subtle)};
  --color-light-subtle-s: #{color-saturation-from-hex($color-light-subtle)};
  --color-light-subtle-l: #{color-lightness-from-hex($color-light-subtle)};

  /* Black */

  --color-black: #{$color-black};
  --color-black-yiq: #{$color-black-yiq};

  // -- Light

  --color-black-lt: #{$color-black-lt};

  // -- Subtle

  --color-black-subtle: #{$color-black-subtle};

  /* Dark */

  --color-dark: #{$color-dark};
  --color-dark-yiq: #{$color-dark-yiq};
  --color-dark-h: #{color-hue-from-hex($color-dark)};
  --color-dark-s: #{color-saturation-from-hex($color-dark)};
  --color-dark-l: #{color-lightness-from-hex($color-dark)};

  // -- Light

  --color-dark-lt: #{$color-dark-lt};

  // -- Subtle

  --color-dark-subtle: #{$color-dark-subtle};
  --color-dark-subtle-yiq: #{$color-dark-subtle-yiq};
  --color-dark-subtle-h: #{color-hue-from-hex($color-dark-subtle)};
  --color-dark-subtle-s: #{color-saturation-from-hex($color-dark-subtle)};
  --color-dark-subtle-l: #{color-lightness-from-hex($color-dark-subtle)};

  /**
   *
   * Shadow
   *
   */

  --color-shadow: $color-shadow;

  /**
   *
   * Typography
   *
   */

  --color-headline: #{$color-headline};
  --color-subtitle: #{$color-subtitle};
  --color-text: #{$color-text};
  --color-caption: #{$color-caption};
  --color-overline: #{$color-overline};

  /* Link */

  --color-link: #{$color-link};
  --color-link-hover: #{$color-link-hover};
  --color-link-active: #{$color-link-active};

  /* Vendor */

  --color-google: #{$color-google};
  --color-twitter: #{$color-twitter};
  --color-facebook: #{$color-facebook};
}
