:root {
  --icon-size-base: #{$icon-size-base};

  --icon-size-xs: #{$icon-size-xs};
  --icon-size-sm: #{$icon-size-sm};
  --icon-size-md: #{$icon-size-md};
  --icon-size-lg: #{$icon-size-lg};
  --icon-size-xl: #{$icon-size-xl};
  --icon-size-xxl: #{$icon-size-xxl};
}
