:root {

  /* Font Family */

  --font-family-body   : #{$font-family-body};
  --font-family-headline: #{$font-family-headline};
  --font-family-subtitle: #{$font-family-subtitle};

  /* Line Height */

  --line-height-body    : #{$line-height-body};
  --line-height-headline: #{$line-height-headline};
  --line-height-subtitle: #{$line-height-subtitle};

  /* Font Size */

  // -- Body

  --font-size-base  : #{$font-size-base};

  --font-size-body-1: #{$font-size-body-1};
  --font-size-body-2: #{$font-size-body-2};

  // -- Headline

  --font-size-headline-1: #{$font-size-headline-1};
  --font-size-headline-2: #{$font-size-headline-2};
  --font-size-headline-3: #{$font-size-headline-3};
  --font-size-headline-4: #{$font-size-headline-4};
  --font-size-headline-5: #{$font-size-headline-5};
  --font-size-headline-6: #{$font-size-headline-6};

  // -- Subtitle

  --font-size-subtitle-1: #{$font-size-subtitle-1};
  --font-size-subtitle-2: #{$font-size-subtitle-2};

  /* Font Weight */

  --font-weight-bold: #{$font-weight-bold};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-light: #{$font-weight-light};
}
