@use "sass:map";

.dot {
  border-radius: 50%;
  display: inline-flex;
}

// Patern

@each $pattern in $dot-patterns {
  .dot.component-pattern-#{$pattern} {
    @include dot-pattern-mixin($pattern);
  }
}

// Size

@each $name, $props in $dot-sizes {
  $size: map.get($props, "size");

  .dot.component-size-#{$name} {
    @include map-props-mixin(map.get($component-size-sizing, $size));
  }
}
