$dot-placements: (
  "top-left", "top-right", "bottom-left", "bottom-right"
) !default;
$dot-shapes: ("rounded") !default;
$dot-sizes: (
  "sm": (
    "size": "2"
  ),
  "base": (
    "size": "3"
  )
) !default;
$dot-patterns: ("solid") !default;
