$dot-placements: (
  'top-left', 'top-right', 'bottom-left', 'bottom-right'
) !default;

$dot-shapes: ('rounded') !default;

$dot-sizes: (
  "sm": (
    "size": "8"
  ),
  "base": (
    "size": "12"
  )
) !default;

$dot-types: ("solid") !default;
