@use "sass:map";

.card {
  border-radius: $card-border-radius;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
}

// Color

@each $color in $component-colors {
  .card-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $card-patterns {
  .card-pattern-#{$pattern} {
    @include card-pattern-mixin($pattern);
  }
}

// Children

.card-header {
  box-sizing: border-box;
  display: flex;
}

.card-body {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.card-footer {
  box-sizing: border-box;
  display: flex;
}

// -- Color

@each $color in $component-colors {
  .card-body-color-#{$color},
  .card-header-color-#{$color},
  .card-footer-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// -- Patern

@each $pattern in $card-patterns {
  .card-body-pattern-#{$pattern},
  .card-header-pattern-#{$pattern},
  .card-footer-pattern-#{$pattern} {
    @include card-pattern-mixin($pattern);
  }
}

// -- Size

@each $size, $props in $card-header-sizes {
  .card-header-size-#{$size} {
    $padding-x: map.get($props, "padding-x");
    $padding-y: map.get($props, "padding-y");

    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
    @include map-props-mixin(
      map.get($component-padding-y-sizing, $padding-y));
  }
}

@each $size, $props in $card-body-sizes {
  .card-body-size-#{$size} {
    $padding-x: map.get($props, "padding-x");
    $padding-y: map.get($props, "padding-y");

    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
    @include map-props-mixin(
      map.get($component-padding-y-sizing, $padding-y));
  }
}

@each $size, $props in $card-footer-sizes {
  .card-footer-size-#{$size} {
    $padding-x: map.get($props, "padding-x");
    $padding-y: map.get($props, "padding-y");

    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
    @include map-props-mixin(
      map.get($component-padding-y-sizing, $padding-y));
  }
}
