$card-border-radius: var(--border-radius-base);
$card-border-width: var(--border-width-base);
$card-patterns: ("solid") !default;

// Children

// -- Header

$card-header-sizes: (
  "base": (
    "min-height": "14", "padding-x": "6", "padding-y": "6"
  )
) !default;

// -- Body

$card-body-sizes: (
  "base": (
    "padding-x": "6", "padding-y": "6"
  )
) !default;

// -- Footer

$card-footer-sizes: (
  "base": (
    "padding-x": "6", "padding-y": "6"
  )
) !default;
