/*
========================================
Position */

@mixin component-placement-mixin($name) {
  $props: map-get(
    (
      'top-left'     : (top: 0, left: 0),
      'top-center'   : (top: 0, left: 50%),
      'top-right'    : (top: 0, left: 100%),
      'center-left'  : (top: 50%, left: 0),
      'center-center': (top: 50%, left: 50%),
      'center-right' : (top: 50%, left: 100%),
      'bottom-left'  : (top: 100%, left: 0),
      'bottom-center': (top: 100%, left: 50%),
      'bottom-right' : (top: 100%, left: 100%),
    ), $name
  );

  @include map-props-mixin($props);

  position: absolute;
  transform: translate(-50%, -50%);
}

/*
========================================
Styles */

// SOLID

@mixin component-solid-mixin($name) {
  $color: var(--color-#{$name});
  $color-yiq: var(--color-#{$name}-yiq);

  background-color: $color;
  border-color: $color;
  color: $color-yiq;
}

// Hover

@mixin component-solid-hover-mixin($name) {
  $color: color-reduce-lightness-from-name($name, $amount: 8);
  $color-yiq: var(--color-#{$name}-yiq);

  background-color: $color;
  border-color: $color;
  color: $color-yiq;
}

// Active

@mixin component-solid-active-mixin($name) {
  $color: color-reduce-lightness-from-name($name, $amount: 16);
  $color-yiq: var(--color-#{$name}-yiq);

  background-color: $color;
  border-color: $color;
  color: $color-yiq;
}

// Focus

@mixin component-solid-focus-mixin($name) {
  &:not(:active) {
    $color: color-reduce-lightness-from-name($name, $amount: 8);

    background-color: $color;
    border-color: $color;
  }
}


// SUBTLE

@mixin component-subtle-mixin($name) {
  background-color: var(--color-#{$name}-subtle);
  border-color: var(--color-#{$name});
}

// Hover

@mixin component-subtle-hover-mixin($name) {
   $color: color-reduce-lightness-from-name-subtle($name, $amount: 4);

  background-color: $color;
  color: var(--color-#{$name});
}

// Active

@mixin component-subtle-active-mixin($name) {
  $color: color-reduce-lightness-from-name-subtle($name, $amount: 8);

  background-color: $color;
  color: var(--color-#{$name});
}

// Focus

@mixin component-subtle-focus-mixin($name) {
  &:not(:active) {
    color: var(--color-#{$name});
  }
}

// -- Selected

@mixin component-subtle-selected-mixin($name) {
  color: var(--color-#{$name});
}


// OUTLINE

@mixin component-outline-mixin($name) {
  $color: var(--color-#{$name});

  background-color: transparent;
  border-color: $color;
  color: $color;
}

// Hover

@mixin component-outline-hover-mixin($name) {
  $color: color-reduce-lightness-from-name($name, $amount: 16);

  border-color: $color;
  color: $color;
}

// Active

@mixin component-outline-active-mixin($name) {
  $color: color-reduce-lightness-from-name($name, $amount: 24);

  border-color: $color;
  color: $color;
}

// Focus

@mixin component-outline-focus-mixin($name) {
  &:not(:active) {
    $color: color-reduce-lightness-from-name($name, $amount: 16);

    border-color: $color;
    color: $color;
  }
}


// GHOST

@mixin component-ghost-mixin($name) {
  $color: var(--color-#{$name});

  background-color: transparent;
  border-color: transparent;
}

// Hover

@mixin component-ghost-hover-mixin($name) {
  background-color: var(--color-#{$name}-subtle);
  color: var(--color-#{$name});
}

// Active

@mixin component-ghost-active-mixin($name) {
  $color: color-reduce-lightness-from-name-subtle($name, $amount: 4);

  background-color: $color;
  color: var(--color-#{$name});
}

// Focus

@mixin component-ghost-focus-mixin($name) {
  &:not(:active) {
    background-color: var(--color-#{$name}-subtle);
  }
}

// -- Selected

@mixin component-ghost-selected-mixin($name) {
  background-color: var(--color-#{$name}-subtle);
  color: var(--color-#{$name});
}
