/*
========================================
Position */

@mixin component-position-mixin($name) {
  $props: map-get(
    (
      'top-left'     : (top: 0, left: 0),
      'top-center'   : (top: 0, left: 50%),
      'top-right'    : (top: 0, left: 100%),
      'center-left'  : (top: 50%, left: 0),
      'center-center': (top: 50%, left: 50%),
      'center-right' : (top: 50%, left: 100%),
      'bottom-left'  : (top: 100%, left: 0),
      'bottom-center': (top: 100%, left: 50%),
      'bottom-right' : (top: 100%, left: 100%),
    ), $name
  );

  @include map-props-mixin($props);

  position: absolute;
  transform: translate(-50%, -50%);
}

/*
========================================
Styles */

@mixin component-solid-mixin($name) {
  $color: var(--color-#{$name});
  $color-yiq: var(--color-#{$name}-yiq);

  background-color: $color;
  border-color: $color;
  color: $color-yiq;
}

@mixin component-subtle-mixin($name) {
  $color: var(--color-#{$name});
  $color-subtle: var(--color-#{$name}-subtle);
  $color-yiq: var(--color-#{$name}-subtle-yiq);

  background-color: $color-subtle;
  border-color: $color;
  color: $color-yiq;
}

@mixin component-ghost-mixin($name) {
  $color: var(--color-#{$name});

  background-color: transparent;
  border-color: transparent;
}
