/*
========================================
Styles */

@mixin component-style-mixin($name) {
  $color: var(--color-#{$name});
  $color-yiq: var(--color-#{$name}-yiq);

  background-color: $color;
  border-color: $color;
  color: $color-yiq;
}

@mixin component-style-mixin($name) {
  $color: var(--color-#{$name});
  $color-lter: var(--color-#{$name}-lter);
  $color-yiq: var(--color-#{$name}-lter-yiq);

  background-color: $color-lter;
  border-color: $color;
  color: $color-yiq;
}

@mixin component-style-hover-mixin($name) {
  $color-rgb: var(--color-#{$name}-rgb);

  $color-hover: rgba(
    $color-rgb,
    calc(100% - var(--component-brightness-hover))
  );

  &:hover {
    background-color: $color-hover;
    border-color: transparent;
  }
}

@mixin component-style-active-mixin($name) {
  $color-rgb: var(--color-#{$name}-rgb);

  $color-active: rgba(
    $color-rgb,
    calc(100% - var(--component-brightness-active))
  );

  &:focus,
  &:active {
    background-color: $color-active;
    border-color: transparent;
  }
}

@mixin component-gap-mixin($name) {
  gap: var(--component-space-#{$name});
}
