@use "sass:math";

@mixin row-cols-mixin($count) {
  > * {
    flex: 0 0 auto;
    width: math.div(100%, $count);
  }
}

@mixin make-cols-mixin(
  $columns: $grid-columns,
  $breakpoints: $breakpoints-map
) {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .col#{$infix} {
        flex: 1 0 0%; // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      }

      .row-cols#{$infix}-auto > * {
        @include make-col-auto-mixin;
      }

      @if $grid-row-columns > 0 {
        @for $i from 1 through $grid-row-columns {
          .row-cols#{$infix}-#{$i} {
            @include row-cols-mixin($i);
          }
        }
      }

      .col#{$infix}-auto {
        @include make-col-auto-mixin;
      }

      @if $columns > 0 {
        @for $i from 1 through $columns {
          .col#{$infix}-#{$i} {
            @include make-col($i, $columns);
          }
        }
      }
    }
  }
}

@mixin make-col(
  $size: false,
  $columns: $grid-columns
) {
  @if $size {
    flex: 0 0 auto;
    width: math.percentage(math.div($size, $columns));
  } @else {
    flex: 1 1 0;
    max-width: 100%;
  }
}

@mixin make-col-auto-mixin {
  flex: 0 0 auto;
  width: auto;
}
