.icon {
  font-size: var(--icon-size-base);
}

.icon-xs {
  font-size: var(--icon-size-xs);
}

.icon-sm {
  font-size: var(--icon-size-sm);
}

.icon-md {
  font-size: var(--icon-size-md);
}

.icon-lg {
  font-size: var(--icon-size-lg);
}

.icon-xl {
  font-size: var(--icon-size-xl);
}

.icon-xxl {
  font-size: var(--icon-size-xxl);
}
