$figure-border-width: var(--component-border-width-base);
$figure-patterns: ("solid", "subtle", "outline") !default;
$figure-shapes: (
  "base",
  "rounded"
) !default;
$figure-sizes: (
  "sm": (
    "height": "6",  "padding": "3", "width": "6"
  ),
  "base": (
    "height": "8",  "padding": "4", "width": "8"
  ),
  "md": (
    "height": "10", "padding": "4", "width": "10"
  ),
  "lg": (
    "height": "12", "padding": "5", "width": "12"
  )
) !default;
