@use "sass:map";

.avatar {
  background-color: $avatar-bg;
  border-radius: $avatar-border-radius;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
}

.avatar-img {
  @include img-fit;

  &:not([src]) {
    visibility: hidden;
  }
}

.avatar-group {
  box-sizing: border-box;
  display: inline-flex;

  > * {
    &:not(:first-child) {
      margin-left: -0.5rem;
    }
  }
}

// Size

@each $name, $props in $avatar-sizes {
  $size: map.get($props, "size");

  .avatar.component-size-#{$name} {
    @include map-props-mixin(map.get($component-size-sizing, $size));
  }
}
