$avatar-border-radius: var(--border-radius-base);
$avatar-font-size    : var(--component-font-size-base);
$avatar-font-weight  : var(--font-weight-bold);
$avatar-height       : var(--component-size-base);
$avatar-width        : var(--component-size-base);
