$avatar-bg: var(--color-bg-dker);
$avatar-border-radius: var(--component-border-radius-base);
$avatar-shapes: ("base", "rounded") !default;
$avatar-sizes: (
  "xxs": (
    "size": "4"
  ),
  "xs": (
    "size": "5"
  ),
  "sm": (
    "size": "6"
  ),
  "base": (
    "size": "8"
  ),
  "md": (
    "size": "10"
  ),
  "lg": (
    "size": "12"
  ),
  "xl": (
    "size": "14"
  ),
  "xxl": (
    "size": "16"
  )
) !default;
