.form-control {
  appearance      : none;
  background-color: $form-control-bg-color;
  border          : $form-control-border-width solid $form-control-border-color;
  border-radius   : $form-control-border-radius;
  color           : $form-control-color;
  display         : block;
  width           : 100%;

  &::placeholder {
    color  : $form-control-placeholder-color;
    opacity: 1;
  }

  &:focus,
  &:active {
    // background-color: #fff;
    // border-color    : #86b7fe;
    // box-shadow      : 0 0 0 .25rem rgba(13,110,253,.25);
    // color           : #212529;
    // outline         : 0;

    // @include box-shadow-size('active-input');

    // outline: none;
  }
}
