$form-control-bg-color         : var(--color-bg-lt);
$form-control-border-color     : var(--color-border);
$form-control-border-radius    : var(--border-radius-base);
$form-control-border-width     : var(--border-width-base);
$form-control-color            : var(--color-heading);

$form-control-placeholder-color: var(--color-subtle);

// sizing

$form-control-font-size        : var(--font-size-base);

$form-control-xs-font-size     : var(--font-size-xs);
$form-control-sm-font-size     : var(--font-size-sm);
$form-control-md-font-size     : var(--font-size-base);
$form-control-lg-font-size     : var(--font-size-base);

$form-control-height           : var(--component-height-base);

$form-control-xs-height        : var(--component-height-xs);
$form-control-sm-height        : var(--component-height-sm);
$form-control-md-height        : var(--component-height-md);
$form-control-lg-height        : var(--component-height-lg);

$form-control-padding-x        : var(--component-space-base);

$form-control-xs-padding-x     : var(--component-space-xs);
$form-control-sm-padding-x     : var(--component-space-sm);
$form-control-md-padding-x     : var(--component-space-md);
$form-control-lg-padding-x     : var(--component-space-lg);

$form-control-padding-y        : 0;

$form-control-xs-padding-y     : 0;
$form-control-sm-padding-y     : 0;
$form-control-md-padding-y     : 0;
$form-control-lg-padding-y     : 0;
