.alert {
  @include typography-mixin((color: "inherit"));

  border-radius: $alert-border-radius;
  border-style: solid;
  border-width: $alert-border-width;
  box-sizing: border-box;
  display: inline-flex;
}

.alert-content {
  display: flex;
  flex-direction: column;
}

.alert-close {
  position: relative;
  top: 4px;
}

@each $size in $alert-sizes {
  .alert-size-#{$size} {
    @include map-props-mixin(map-get($component-font-sizing, $size));
    @include map-props-mixin(map-get($component-gap-sizing, $size));
    @include map-props-mixin(map-get($component-padding-sizing, $size));

    .alert-title + .alert-message {
      @include map-props-mixin(map-get($component-font-space-sizing, $size));
    }
  }
}
