.alert {
  border-radius: $alert-border-radius;
  border-style: solid;
  border-width: $alert-border-width;
  box-sizing: border-box;
  display: inline-flex;
}

.alert-close {
  position: relative;
}

.alert-children {
  display: flex;
  flex-direction: column;
}

// Color

@each $color in $component-colors {
  @each $type in $alert-types {
    .alert-#{$color}-#{$type} {
      @include alert-style-mixin($color, $type);
    }
  }
}

// Size

@each $size, $props in $alert-sizes {
  .alert-size-#{$size} {

    $font-size: map-get($props, "font-size");
    $padding  : map-get($props, "padding");

    @include map-props-mixin(
      map-get($component-font-sizing, $font-size));

    @include map-props-mixin(
      map-get($component-padding-sizing, $padding));
  }
}
