$alert-border-radius: var(--border-radius-base);
$alert-border-width: var(--border-width-base);
$alert-sizes: (
  "sm": (
    "gap": "1", "padding": "3"
  ),
  "base": (
    "gap": "1", "padding": "4"
  )
) !default;
$alert-patterns: ("solid", "subtle") !default;
