$alert-border-radius: var(--border-radius-base);
$alert-border-width: var(--border-width-base);
$alert-sizes: (
  "sm": (
    "padding-x": "3", "padding-y": "3"
  ),
  "base": (
    "padding-x": "4", "padding-y": "4"
  )
) !default;
$alert-patterns: ("solid", "subtle") !default;
