@use "sass:map";

.progress {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

// Patern

@each $pattern in $progress-patterns {
  .progress.component-pattern-#{$pattern} {
    @include progress-pattern-mixin($pattern);
  }
}

// Size

@each $name, $props in $progress-heights {
  $height: map.get($props, "height");

  .progress.component-size-#{$name} {
    @include map-props-mixin(map.get($component-height-sizing, $height));
  }
}

// Children

.progress-bar {
  display: inline-flex;
}

// Patern

@each $pattern in $progress-bar-patterns {
  .progress-bar.component-pattern-#{$pattern} {
    @include progress-pattern-mixin($pattern);
  }
}
