@use "sass:map";

.progress {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

// Color

@each $color in $component-colors {
  .progress-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $progress-patterns {
  .progress-pattern-#{$pattern} {
    @include progress-pattern-mixin($pattern);
  }
}

// Shape

@each $shape in $progress-shapes {
  .progress-shape-#{$shape} {
    @include map-props-mixin(map.get($component-shapes, $shape));
  }
}

// Size

@each $name, $props in $progress-heights {
  $height: map.get($props, "height");

  .progress-size-#{$name} {
    @include map-props-mixin(map.get($component-height-sizing, $height));
  }
}

// Children

.progress-bar {
  display: inline-flex;
}

// Color

@each $color in $component-colors {
  .progress-bar-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $progress-bar-patterns {
  .progress-bar-pattern-#{$pattern} {
    @include progress-pattern-mixin($pattern);
  }
}
