$progress-patterns: ("solid", "subtle") !default;
$progress-heights: (
  "xs": (
    "height": "1"
  ),
  "sm": (
    "height": "2"
  )
) !default;

// Children

$progress-bar-patterns: ("solid", "subtle") !default;
