@mixin menu-item-pattern-mixin($pattern) {
  @if $pattern == "solid" {
    @include menu-item-solid-mixin;
  }

  @if $pattern == "subtle" {
    @include menu-item-subtle-mixin;
  }

  @if $pattern == "outline" {
    @include menu-item-outline-mixin;
  }

  @if $pattern == "ghost" {
    @include menu-item-ghost-mixin;
  }

  @if $pattern == "link" {
    @include menu-item-link-mixin;
  }
}

@mixin menu-item-solid-mixin {
  @include component-solid-mixin;

  &:hover {
    @include component-solid-hover-mixin;
  }

  &:active {
    @include component-solid-active-mixin;
  }

  &.menu-item-is-selected {
    @include component-solid-active-mixin;
  }
}

@mixin menu-item-subtle-mixin {
  @include component-subtle-mixin;

  &:hover {
    @include component-subtle-hover-mixin;
  }

  &:active {
    @include component-subtle-active-mixin;
  }

  &.menu-item-is-selected {
    @include component-subtle-selected-mixin;

    box-shadow: -3px 0 0 0 var(--color-component) inset;
  }
}

@mixin menu-item-outline-mixin {
  @include component-outline-mixin;

  &:hover {
    @include component-outline-hover-mixin;
  }

  &:active {
    @include component-outline-active-mixin;
  }

  &.menu-item-is-selected {
    @include component-subtle-selected-mixin;

    box-shadow: -3px 0 0 0 var(--color-component) inset;
  }
}

@mixin menu-item-ghost-mixin {
  @include component-ghost-mixin;

  &:hover {
    @include component-ghost-hover-mixin;
  }

  &:active {
    @include component-ghost-active-mixin;
  }

  &.menu-item-is-selected {
    @include component-ghost-selected-mixin;

    box-shadow: -3px 0 0 0 var(--color-component) inset;
  }
}

@mixin menu-item-link-mixin {
  @include component-link-mixin;

  &:hover {
    @include component-link-hover-mixin;
  }

  &:active {
    @include component-link-active-mixin;
  }

  &.menu-item-is-selected {
    @include component-link-selected-mixin;

    box-shadow: -3px 0 0 0 var(--color-component) inset;
  }
}
