$menu-bg: var(--color-bg-dk);
$menu-widths: ("80", "128", "256") !default;

// Children

// -- Menu Title

$menu-title-sizes: (
  "base": (
    "font-size": "sm", "gap": "2", "height": "8", "min-height": "8",
    "margin-y": "1", "padding-left": "4", "padding-right": "4"
  )
) !default;

// -- Menu Item

$menu-item-transition-duration: var(--transition-duration-fast) !default;
$menu-item-sizes: (
  "base": (
    "font-size": "sm", "gap": "2", "height": "10", "min-height": "10",
    "margin-y": "1", "padding-left": "4", "padding-right": "4"
  )
) !default;
