$menu-border-color: var(--color-default-lt) !default;
$menu-border-radius: var(--border-radius-base) !default;
$menu-border-width: var(--border-width-base) !default;
$menu-sizes: (
  "sm": (
    "padding-x": "4", "padding-y": "3"
  ),
  "base": (
    "padding-x": "6", "padding-y": "4"
  )
) !default;
$menu-transition-duration: var(--animation-duration-fast) !default;
$menu-widths: (
  "xs": (
    "min-width": "20", "width": "20"
  ),
  "sm": (
    "min-width": "32", "width": "32"
  ),
  "base": (
    "min-width": "64", "width": "64"
  )
) !default;
