@use "sass:map";

.tooltip {
  box-sizing: border-box;
  text-align: center;
  z-index: $tooltip-z-index;
}

// Patern

@each $pattern in $tooltip-patterns {
  .tooltip.component-pattern-#{$pattern} {
    @include tooltip-pattern-mixin($pattern);
  }
}

// Max-Width

@each $max-width in $tooltip-max-widths {
  .tooltip.component-width-#{$max-width} {
    @include map-props-mixin(
      map.get($component-max-width-sizing, $max-width));
  }
}

// Size

@each $size, $props in $tooltip-sizes {
  .tooltip.component-size-#{$size} {
    $font-size: map.get($props, "font-size");
    $padding-x: map.get($props, "padding-x");
    $padding-y: map.get($props, "padding-y");

    @include map-props-mixin(
      map.get($component-font-sizing, $font-size));
    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
    @include map-props-mixin(
      map.get($component-padding-y-sizing, $padding-y));
  }
}
