$tooltip-max-widths: ("128", "256") !default;
$tooltip-placements: (
  "top-center", "center-left", "center-right", "bottom-center"
) !default;
$tooltip-sizes: (
  "base": (
    "font-size": "sm", "padding-x": "8", "padding-y": "4"
  )
) !default;
$tooltip-patterns: ("solid") !default;
