html {
  font-size: var(--font-size-base);

  body {
    background-color: var(--color-bg);
    color           : var(--color-body);
    font-family     : var(--font-family-base);
    position        : relative;
  }
}
