html {
  font-size: var(--font-size-base);

  body {
    background-color: var(--color-bg);
    color: var(--color-body);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    position: relative;
  }
}
