%container {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container,
.container-fluid {
  @extend %container;
}

// Responsive containers that are 100% wide until a breakpoint
@each $breakpoint, $container-max-width in $container-max-widths-map {
  .container-#{$breakpoint} {
    @extend %container !optional;
  }

  @include media-breakpoint-up($breakpoint, $breakpoints-map) {
    %responsive-container-#{$breakpoint} {
      max-width: $container-max-width;
    }

    // Extend each breakpoint which is smaller or equal to the current breakpoint
    $extend-breakpoint: true;

    @each $name, $width in $breakpoints-map {
      @if $extend-breakpoint {
        .container#{breakpoint-infix($name, $breakpoints-map)} {
          @extend %responsive-container-#{$breakpoint};
        }

        // Once the current breakpoint is reached, stop extending
        @if $breakpoint == $name {
          $extend-breakpoint: false;
        }
      }
    }
  }
}
