@use "sass:map";

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

// Color

@each $color in $component-colors {
  .header-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $header-patterns {
  .header-pattern-#{$pattern} {
    @include header-pattern-mixin($pattern);
  }
}

// Size

@each $size, $props in $header-sizes {
  .header-size-#{$size} {
    $height: map.get($props, "height");
    $padding-x: map.get($props, "padding-x");

    @include map-props-mixin(
      map.get($component-height-sizing, $height));
    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
  }
}
