@use "sass:map";

.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

// Color

@each $color in $component-colors {
  .header-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $header-patterns {
  .header-pattern-#{$pattern} {
    @include header-pattern-mixin($pattern);
  }
}

// Size

@each $size, $props in $header-sizes {
  .header-size-#{$size} {
    $font-size: map.get($props, "font-size");
    $min-height: map.get($props, "min-height");
    $padding-x: map.get($props, "padding-x");
    $padding-top: map.get($props, "padding-top");

    @include map-props-mixin(
      map.get($component-font-sizing, $font-size));
    @include map-props-mixin(
      map.get($component-min-height-sizing, $min-height));
    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
    @include map-props-mixin(
      map.get($component-padding-top-sizing, $padding-top));
  }
}
