@use "sass:map";

.header {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
}

// Color

@each $color in $component-colors {
  .header-color-#{$color} {
    @include component-color-mixin($color);
  }
}

// Patern

@each $pattern in $header-patterns {
  .header-pattern-#{$pattern} {
    @include header-pattern-mixin($pattern);
  }
}

// Size

@each $size, $props in $header-sizes {
  .header-size-#{$size} {
    $min-height: map.get($props, "min-height");
    $padding-x: map.get($props, "padding-x");
    $padding-y: map.get($props, "padding-y");

    @include map-props-mixin(
      map.get($component-min-height-sizing, $min-height));
    @include map-props-mixin(
      map.get($component-padding-x-sizing, $padding-x));
    @include map-props-mixin(
      map.get($component-padding-y-sizing, $padding-y));
  }
}
