.badge {
  border-radius: $badge-border-radius;
  border-style : solid;
  border-width : $badge-border-width;
  box-sizing   : border-box;
  display      : inline-block;
  font-size    : $badge-font-size;
  font-weight  : $badge-font-weight;
  height       : $badge-height;
  line-height  : 1;
  padding      : $badge-padding-y $badge-padding-x;
  text-align   : center;
  white-space  : nowrap;
}
