$badge-border-radius: var(--border-radius-base);
$badge-border-width : var(--border-width-base);
$badge-font-size    : var(--font-size-base);
$badge-font-weight  : var(--font-weight-bold);
$badge-padding      : var(--space-base);
