$badge-border-radius: var(--border-radius-base) !default;
$badge-border-width : var(--component-border-width-base) !default;
$badge-font-weight  : var(--font-weight-bold) !default;

$badge-sizes: ('xs', 'sm') !default;
