/* Headline */

.headline {
  color: $headline-color;
  font-family: $headline-font-family;
  line-height: $headline-line-height;

  @at-root {

    h1#{&} {
      font-size: $headline-1-font-size;
      font-weight: $headline-1-font-weight;
      letter-spacing: -1.5px;
    }

    h2#{&} {
      font-size: $headline-2-font-size;
      font-weight: $headline-2-font-weight;
      letter-spacing: -0.5px;
    }

    h3#{&} {
      font-size: $headline-3-font-size;
      font-weight: $headline-3-font-weight;
      letter-spacing: 0;
    }

    h4#{&} {
      font-size: $headline-4-font-size;
      font-weight: $headline-4-font-weight;
      letter-spacing: 0;
    }

    h5#{&} {
      font-size: $headline-5-font-size;
      font-weight: $headline-5-font-weight;
      letter-spacing: 0;
    }

    h6#{&} {
      font-size: $headline-6-font-size;
      font-weight: $headline-6-font-weight;
      letter-spacing: 0;
    }
  }
}

/* Subtitle */

.subtitle {
  color: $subtitle-color;
  font-family: $subtitle-font-family;
  line-height: $subtitle-line-height;
}

.subtitle-level-1 {
  font-size: $subtitle-1-font-size;
  font-weight: $subtitle-1-font-weight;
  letter-spacing: 0;
}

.subtitle-level-2 {
  font-size: $subtitle-2-font-size;
  font-weight: $subtitle-2-font-weight;
  letter-spacing: 0;
}

/* Text */

.text {
  color: $text-color;
  font-family: $text-font-family;
  line-height: $text-line-height;
}

.text-level-1 {
  font-size: $text-1-font-size;
  font-weight: $text-1-font-weight;
  letter-spacing: 0.25px;
}

.text-level-2 {
  font-size: $text-2-font-size;
  font-weight: $text-2-font-weight;
  letter-spacing: 0.25px;
}

/* Caption */

.caption {
  color: $caption-color;
  font-family: $caption-font-family;
  font-size: $caption-font-size;
  letter-spacing: 0.4px;
  line-height: $caption-line-height;
}
