$text-color: var(--color-text);

/* Headline */

$headline-font-family: var(--font-family-headline);
$headline-line-height: var(--line-height-headline);
$headline-1-font-size: var(--font-size-headline-1);
$headline-1-font-weight: var(--font-weight-light);
$headline-2-font-size: var(--font-size-headline-2);
$headline-2-font-weight: var(--font-weight-light);
$headline-3-font-size: var(--font-size-headline-3);
$headline-3-font-weight: var(--font-weight-regular);
$headline-4-font-size: var(--font-size-headline-4);
$headline-4-font-weight: var(--font-weight-regular);
$headline-5-font-size: var(--font-size-headline-5);
$headline-5-font-weight: var(--font-weight-regular);
$headline-6-font-size: var(--font-size-headline-6);
$headline-6-font-weight: var(--font-weight-medium);

/* Subtitle */

$subtitle-font-family: var(--font-family-subtitle);
$subtitle-line-height: var(--line-height-subtitle);
$subtitle-1-font-size: var(--font-size-subtitle-1);
$subtitle-1-font-weight: var(--font-weight-medium);
$subtitle-2-font-size: var(--font-size-subtitle-2);
$subtitle-2-font-weight: var(--font-weight-medium);

/* Text */

$text-font-family: var(--font-family-body);
$text-line-height: var(--line-height-body);
$text-1-font-size: var(--font-size-body-1);
$text-1-font-weight: var(--font-weight-regular);
$text-2-font-size: var(--font-size-body-2);
$text-2-font-weight: var(--font-weight-regular);

/* Caption */

$caption-font-family: var(--font-family-caption);
$caption-line-height: var(--line-height-caption);
$caption-font-size: var(--font-size-caption);
