@use "sass:map";

.spacer {
  box-sizing: border-box;
  display: flex;
}

// orientation

.spacer-orientation-vertical {
  flex-direction: column;
}

.spacer-orientation-horizontal {
  flex-direction: row;
}

@each $name, $props in $spacer-gaps {
  $gap: map.get($props, "gap");

  .spacer-gap-#{$name} {
    @include map-props-mixin(map.get($component-gap-sizing, $gap));
  }
}
