$article-box-border-radius: var(--border-radius-base);

// sizing

$article-box-padding-x    : var(--component-space-base);

$article-box-xs-padding-x : var(--component-space-xs);
$article-box-sm-padding-x : var(--component-space-sm);
$article-box-md-padding-x : var(--component-space-md);
$article-box-lg-padding-x : var(--component-space-lg);

$article-box-padding-y    : var(--component-space-base);

$article-box-xs-padding-y : var(--component-space-xs);
$article-box-sm-padding-y : var(--component-space-sm);
$article-box-md-padding-y : var(--component-space-md);
$article-box-lg-padding-y : var(--component-space-lg);
