$navbar-padding-x: var(--component-space-base);
$navbar-padding-y: var(--component-space-base);

$navbar-nav-link-font-size: var(--font-size-base);
$navbar-expand-nav-link-spacer: var(--space-base);

$navbar-expand-nav-link-padding-x: 0;
$navbar-expand-nav-link-padding-y: var(--space-base);

$navbar-brand-hover-color: var(--color-white);
