$table-border-color: var(--color-default-lt) !default;
$table-border-radius: var(--border-radius-base) !default;
$table-border-width: var(--border-width-base) !default;
$table-sizes: (
  "sm": (
    "padding-x": "4", "padding-y": "3"
  ),
  "base": (
    "padding-x": "6", "padding-y": "4"
  )
) !default;

// Children

$thead-row-height: var(--size-14);
$tbody-row-height: var(--size-12);
$tfoot-row-height: var(--size-14);
