$list-border-color: var(--color-default-lt) !default;
$list-border-radius: var(--border-radius-base) !default;
$list-border-width: var(--border-width-base) !default;
$list-sizes: (
  "sm": (
    "padding-x": "4", "padding-y": "3"
  ),
  "base": (
    "padding-x": "6", "padding-y": "4"
  )
) !default;
