:root {

  // Animation

  --transition-duration-base   : #{$transition-duration-base};

  --transition-duration-slow   : #{$transition-duration-slow};
  --transition-duration-fast   : #{$transition-duration-fast};

  // Border

  --border-radius-base         : #{$border-radius-base};
  --border-width-base          : #{$border-width-base};

  // Brightness

  --brightness-base            : #{$brightness-base};

  --brightness-xs              : #{$brightness-xs};
  --brightness-sm              : #{$brightness-sm};
  --brightness-md              : #{$brightness-md};
  --brightness-lg              : #{$brightness-lg};
  --brightness-xl              : #{$brightness-xl};
  --brightness-xxl             : #{$brightness-xxl};

  // Colors

  --color-white                : #{$color-white};
  --color-black                : #{$color-black};

  --color-bg                   : #{$color-bg};

  --color-bg-lt                : #{$color-bg-lt};
  --color-bg-lter              : #{$color-bg-lter};

  --color-bg-dk                : #{$color-bg-dk};
  --color-bg-dker              : #{$color-bg-dker};

  --color-border               : #{$color-border};

  --color-border-lt            : #{$color-border-lt};
  --color-border-lter          : #{$color-border-lter};

  --color-border-dk            : #{$color-border-dk};
  --color-border-dker          : #{$color-border-dker};

  --color-link                 : #{$color-link};
  --color-link-hover           : #{$color-link-hover};
  --color-link-active          : #{$color-link-active};

  --color-heading              : #{$color-heading};
  --color-body                 : #{$color-body};
  --color-subtle               : #{$color-subtle};

  --color-icon                 : #{$color-icon};

  // styles

  --color-primary              : #{$color-primary};
  --color-primary-lt           : #{$color-primary-lt};
  --color-primary-dk           : #{$color-primary-dk};
  --color-primary-lter         : #{$color-primary-lter};
  --color-primary-dker         : #{$color-primary-dker};
  --color-primary-yiq          : #{$color-primary-yiq};
  --color-primary-rgb          : #{color-hex-to-rgb($color-primary)};

  --color-accent               : #{$color-accent};
  --color-accent-lt            : #{$color-accent-lt};
  --color-accent-dk            : #{$color-accent-dk};
  --color-accent-lter          : #{$color-accent-lter};
  --color-accent-dker          : #{$color-accent-dker};
  --color-accent-yiq           : #{$color-accent-yiq};
  --color-accent-rgb           : #{color-hex-to-rgb($color-accent)};

  --color-google               : #{$color-google};
  --color-twitter              : #{$color-twitter};
  --color-facebook             : #{$color-facebook};

  // Components

  --component-brightness-base  : #{$component-brightness-base};

  --component-brightness-hover : #{$component-brightness-hover};
  --component-brightness-active: #{$component-brightness-active};

  --component-size-base        : #{$component-size-base};

  --component-size-xs          : #{$component-size-xs};
  --component-size-sm          : #{$component-size-sm};
  --component-size-md          : #{$component-size-md};
  --component-size-lg          : #{$component-size-lg};

  --component-space-base       : #{$component-space-base};

  --component-space-xs         : #{$component-space-xs};
  --component-space-sm         : #{$component-space-sm};
  --component-space-md         : #{$component-space-md};
  --component-space-lg         : #{$component-space-lg};

  // Icons

  --icon-size-base             : #{$icon-size-base};

  --icon-size-xs               : #{$icon-size-xs};
  --icon-size-sm               : #{$icon-size-sm};
  --icon-size-md               : #{$icon-size-md};
  --icon-size-lg               : #{$icon-size-lg};
  --icon-size-xl               : #{$icon-size-xl};
  --icon-size-xxl              : #{$icon-size-xxl};

  // Spacing

  --space-base                 : #{$space-base};

  --space-xs                   : #{$space-xs};
  --space-sm                   : #{$space-sm};
  --space-md                   : #{$space-md};
  --space-lg                   : #{$space-lg};
  --space-xl                   : #{$space-xl};

  // Layout

  --breakpoint-xs              : #{$breakpoint-xs};
  --breakpoint-sm              : #{$breakpoint-sm};
  --breakpoint-md              : #{$breakpoint-md};
  --breakpoint-lg              : #{$breakpoint-lg};
  --breakpoint-xl              : #{$breakpoint-xl};

  // Typography

  --font-family-base           : #{inspect($font-family-base)};
  --font-family-heading        : #{inspect($font-family-heading)};
  --font-family-generic        : #{inspect($font-family-generic)};

  --font-size-base             : #{$font-size-base};

  --font-size-h1               : #{$font-size-h1};
  --font-size-h2               : #{$font-size-h2};
  --font-size-h3               : #{$font-size-h3};
  --font-size-h4               : #{$font-size-h4};
  --font-size-h5               : #{$font-size-h5};

  --font-size-sm               : #{$font-size-sm};
  --font-size-xs               : #{$font-size-xs};

  --font-weight-bold           : #{$font-weight-bold};
  --font-weight-regular        : #{$font-weight-regular};

  --body-line-height           : #{$body-line-height};
  --heading-line-height        : #{$heading-line-height};

}
