$brightness-base: 12% !default;

$brightness-xs: 4% !default;
$brightness-sm: 8% !default;
$brightness-md: 16% !default;
$brightness-lg: 20% !default;
$brightness-xl: 24% !default;
$brightness-xxl: 32% !default;
