$color-black: #000 !default;
$color-white: #fff !default;

// style

$color-grey: #e0e0e0 !default;
$color-grey-yiq: color-yiq($color-grey) !default;

$color-grey-subtle: mix(
  $color-white,
  $color-grey,
  100 - $brightness-base
) !default;
$color-grey-subtle-yiq: color-yiq($color-grey-subtle) !default;

$color-primary: #7c4dff !default;
$color-primary-yiq: color-yiq($color-primary) !default;

$color-primary-subtle: mix(
  $color-white,
  $color-primary,
  100 - $brightness-base
) !default;
$color-primary-subtle-yiq: color-yiq($color-primary-subtle) !default;

$color-accent: #00c853 !default;
$color-accent-yiq: color-yiq($color-accent) !default;

$color-accent-subtle: mix(
  $color-white,
  $color-accent,
  100 - $brightness-base
) !default;
$color-accent-subtle-yiq: color-yiq($color-accent-subtle) !default;

// -- status colors

$color-success: #43a047 !default;
$color-success-yiq: color-yiq($color-success) !default;

$color-success-subtle: mix(
  $color-white,
  $color-success,
  100 - $brightness-base
) !default;
$color-success-subtle-yiq: color-yiq($color-success-subtle) !default;

$color-info: #1e88e5 !default;
$color-info-yiq: color-yiq($color-info) !default;

$color-info-subtle: mix(
  $color-white,
  $color-info,
  100 - $brightness-base
) !default;
$color-info-subtle-yiq: color-yiq($color-info-subtle) !default;

$color-warning: #fdd835 !default;
$color-warning-yiq: color-yiq($color-warning) !default;

$color-warning-subtle: mix(
  $color-white,
  $color-warning,
  100 - $brightness-base
) !default;
$color-warning-subtle-yiq: color-yiq($color-warning-subtle) !default;

$color-error: #e53935 !default;
$color-error-yiq: color-yiq($color-error) !default;

$color-error-subtle: mix(
  $color-white,
  $color-error,
  100 - $brightness-base
) !default;
$color-error-subtle-yiq: color-yiq($color-error-subtle) !default;

// backgrounds

$color-bg: #fff !default;

$color-bg-lt: lighten($color-bg, $brightness-xs) !default;
$color-bg-lter: lighten($color-bg, $brightness-sm) !default;

$color-bg-dk: darken($color-bg, $brightness-xs) !default;
$color-bg-dker: darken($color-bg, $brightness-sm) !default;

// borders

$color-border: #424242 !default;

$color-border-lt: lighten($color-border, $brightness-xs) !default;
$color-border-lter: lighten($color-border, $brightness-sm) !default;

$color-border-dk: darken($color-border, $brightness-xs) !default;
$color-border-dker: darken($color-border, $brightness-sm) !default;

// typography

$color-link: $color-primary !default;
$color-link-hover: darken($color-link, $brightness-base) !default;
$color-link-active: darken($color-link, $brightness-lg) !default;

$color-heading: color-yiq($color-bg) !default;

$color-body: color-yiq(
  $color-bg,
  lighten($color-heading, 40%),
  darken($color-heading, 40%)
) !default;

$color-subtle: color-yiq(
  $color-bg,
  lighten($color-heading, 56%),
  darken($color-heading, 56%)
) !default;

$color-icon: color-yiq(
  $color-bg,
  lighten($color-heading, 32%),
  darken($color-heading, 32%)
) !default;

// vendor

$color-google: #4285f4 !default;
$color-twitter: #1da1f2 !default;
$color-facebook: #3b5998 !default;
