@use "sass:color";

/**
 *
 * Theme (Base)
 *
 */

/* Primary */

$color-primary: #7c4dff !default;
$color-primary-yiq: color-yiq($color-primary) !default;
$color-primary-subtle: color-subtle-light-mix($color-primary) !default;
$color-primary-subtle-yiq: color-yiq($color-primary-subtle) !default;
$color-primary-lt: color-subtle-light-mix($color-primary, $brightness-48) !default;

/* Secondary */

$color-secondary: #9e9e9e !default;
$color-secondary-yiq: color-yiq($color-secondary) !default;
$color-secondary-subtle: color-subtle-light-mix($color-secondary) !default;
$color-secondary-subtle-yiq: color-yiq($color-secondary-subtle) !default;
$color-secondary-lt: color-subtle-light-mix($color-secondary, $brightness-48) !default;

/* Accent */

$color-accent: #00c853 !default;
$color-accent-yiq: color-yiq($color-accent) !default;
$color-accent-subtle: color-subtle-light-mix($color-accent) !default;
$color-accent-subtle-yiq: color-yiq($color-accent-subtle) !default;
$color-accent-lt: color-subtle-light-mix($color-accent, $brightness-48) !default;

/**
 *
 * Theme (Status)
 *
 */

/* Success */

$color-success: #43a047 !default;
$color-success-yiq: color-yiq($color-success) !default;
$color-success-subtle: color-subtle-light-mix($color-success) !default;
$color-success-subtle-yiq: color-yiq($color-success-subtle) !default;
$color-success-lt: color-subtle-light-mix($color-success, $brightness-48) !default;

/* Info */

$color-info: #1e88e5 !default;
$color-info-yiq: color-yiq($color-info) !default;
$color-info-subtle: color-subtle-light-mix($color-info) !default;
$color-info-subtle-yiq: color-yiq($color-info-subtle) !default;
$color-info-lt: color-subtle-light-mix($color-info, $brightness-48) !default;

/* Warning */

$color-warning: #fdd835 !default;
$color-warning-yiq: color-yiq($color-warning) !default;
$color-warning-subtle: color-subtle-light-mix($color-warning) !default;
$color-warning-subtle-yiq: color-yiq($color-warning-subtle) !default;
$color-warning-lt: color-subtle-light-mix($color-warning, $brightness-48) !default;

/* Error */

$color-error: #e53935 !default;
$color-error-yiq: color-yiq($color-error) !default;
$color-error-subtle: color-subtle-light-mix($color-error) !default;
$color-error-subtle-yiq: color-yiq($color-error-subtle) !default;
$color-error-lt: color-subtle-light-mix($color-error, $brightness-48) !default;

/**
 *
 * Theme (Light & Dark)
 *
 */

/* White */

$color-white: #fff !default;
$color-white-yiq: color-yiq($color-white) !default;
$color-white-subtle: color.adjust($color-white, $blackness: $brightness-4) !default;
$color-white-lt: color.adjust($color-white, $blackness: $brightness-8) !default;

/* Light */

$color-light: #bdbdbd !default;
$color-light-yiq: color-yiq($color-light) !default;
$color-light-subtle: color-subtle-light-mix($color-light, $brightness-16) !default;
$color-light-subtle-yiq: color-yiq($color-light-subtle) !default;
$color-light-lt: color-subtle-light-mix($color-light, $brightness-48) !default;

/* Black */

$color-black: #000 !default;
$color-black-yiq: color-yiq($color-black) !default;
$color-black-subtle: color-subtle-light-mix($color-black) !default;
$color-black-lt: color-subtle-light-mix($color-black, $brightness-48) !default;

/* Dark */

$color-dark: #212121 !default;
$color-dark-yiq: color-yiq($color-dark) !default;
$color-dark-subtle: color-subtle-light-mix($color-dark, $brightness-24) !default;
$color-dark-subtle-yiq: color-yiq($color-dark-subtle) !default;
$color-dark-lt: color-subtle-light-mix($color-dark, $brightness-48) !default;

/**
 *
 * Shadows
 *
 */

$color-shadow: #9e9e9e !default;

/**
 *
 * Typography
 *
 */

$color-text: #000 !default;

/* Link */

$color-link: $color-primary !default;
$color-link-hover: color.adjust($color-link, $lightness: $brightness-8) !default;
$color-link-active: color.adjust($color-link, $blackness: $brightness-24) !default;

/* Icon */

$color-icon: #9e9e9e !default;
$color-icon-subtle: color-subtle-light-mix($color-icon) !default;
$color-icon-lt: color-subtle-light-mix($color-icon, $brightness-48) !default;

/* Vendor */

$color-google: #4285f4 !default;
$color-twitter: #1da1f2 !default;
$color-facebook: #3b5998 !default;
