/**
 *
 * Generic
 *
 */

$color-black: #000 !default;
$color-white: #fff !default;

/**
 *
 * Background
 *
 */

$color-bg: #fff !default;
$color-bg-lt: adjust($color-bg, $brightness-4) !default;
$color-bg-lter: adjust($color-bg, $brightness-8) !default;
$color-bg-dk: adjust($color-bg, -$brightness-4) !default;
$color-bg-dker: adjust($color-bg, -$brightness-8) !default;

/**
 *
 * Border
 *
 */

$color-border: #e0e0e0 !default;
$color-border-lt: adjust($color-border, $brightness-4) !default;
$color-border-lter: adjust($color-border, $brightness-8) !default;
$color-border-dk: adjust($color-border, -$brightness-4) !default;
$color-border-dker: adjust($color-border, -$brightness-8) !default;

/**
 *
 * Theme (Base)
 *
 */

/* Primary */

$color-primary: #7c4dff !default;
$color-primary-yiq: color-yiq($color-primary) !default;
$color-primary-subtle: color-subtle-light-mix($color-primary) !default;
$color-primary-subtle-yiq: color-yiq($color-primary-subtle) !default;

/* Secondary */

$color-secondary: #757575 !default;
$color-secondary-yiq: color-yiq($color-secondary) !default;
$color-secondary-subtle: color-subtle-light-mix($color-secondary) !default;
$color-secondary-subtle-yiq: color-yiq($color-secondary-subtle) !default;

/* Accent */

$color-accent: #00c853 !default;
$color-accent-yiq: color-yiq($color-accent) !default;
$color-accent-subtle: color-subtle-light-mix($color-accent) !default;
$color-accent-subtle-yiq: color-yiq($color-accent-subtle) !default;

/**
 *
 * Theme (Status)
 *
 */

/* Success */

$color-success: #43a047 !default;
$color-success-yiq: color-yiq($color-success) !default;
$color-success-subtle: color-subtle-light-mix($color-success) !default;
$color-success-subtle-yiq: color-yiq($color-success-subtle) !default;

/* Info */

$color-info: #1e88e5 !default;
$color-info-yiq: color-yiq($color-info) !default;
$color-info-subtle: color-subtle-light-mix($color-info) !default;
$color-info-subtle-yiq: color-yiq($color-info-subtle) !default;

/* Warning */

$color-warning: #fdd835 !default;
$color-warning-yiq: color-yiq($color-warning) !default;
$color-warning-subtle: color-subtle-light-mix($color-warning) !default;
$color-warning-subtle-yiq: color-yiq($color-warning-subtle) !default;

/* Error */

$color-error: #e53935 !default;
$color-error-yiq: color-yiq($color-error) !default;
$color-error-subtle: color-subtle-light-mix($color-error) !default;
$color-error-subtle-yiq: color-yiq($color-error-subtle) !default;

/* Light */

$color-light: #e0e0e0 !default;
$color-light-yiq: color-yiq($color-light) !default;
$color-light-subtle: color-subtle-light-mix($color-light) !default;
$color-light-subtle-yiq: color-yiq($color-light-subtle) !default;

/* Dark */

$color-dark: #212121 !default;
$color-dark-yiq: color-yiq($color-dark) !default;
$color-dark-subtle: color-subtle-light-mix($color-dark) !default;
$color-dark-subtle-yiq: color-yiq($color-dark-subtle) !default;

/**
 *
 * Typography
 *
 */

/* Headline */

$color-headline: color-yiq($color-bg) !default;

/* Body */

$color-body: color-yiq(
  $color-bg,
  adjust($color-headline, 16%),
  adjust($color-headline, -16%)
) !default;
$color-body-subtle: color-yiq(
  $color-bg,
  adjust($color-headline, 32%),
  adjust($color-headline, -32%)
) !default;
$color-body-disabled: color-yiq(
  $color-bg,
  adjust($color-headline, 64%),
  adjust($color-headline, -64%)
) !default;

/* Link */

$color-link: $color-primary !default;
$color-link-hover: adjust($color-link, -$brightness-16) !default;
$color-link-active: adjust($color-link, -$brightness-24) !default;

/* Icon */

$color-icon: color-yiq(
  $color-bg,
  adjust($color-headline, 24%),
  adjust($color-headline, -24%)
) !default;

/* Vendor */

$color-google: #4285f4 !default;
$color-twitter: #1da1f2 !default;
$color-facebook: #3b5998 !default;
