$icon-size-base: 16px !default;

$icon-size-xs  : 10px !default;
$icon-size-sm  : 12px !default;
$icon-size-md  : 24px !default;
$icon-size-lg  : 32px !default;
$icon-size-xl  : 48px !default;
$icon-size-xxl : 64px !default;
