$z-index-dropdown: 1000 !default;

// $z-index-sticky: 1020 !default;
// $z-index-fixed: 1030 !default;
$z-index-drawer-backdrop: 1040 !default;
$z-index-drawer: 1045 !default;

// $z-index-modal-backdrop: 1050 !default;
// $z-index-modal: 1055 !default;
// $z-index-popover: 1070 !default;
$z-index-tooltip: 1080 !default;
