.button {
  align-items: center;
  border-style: solid;
  border-width: $button-border-width;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  text-decoration: none;
  transition: background $button-transition-duration, border $button-transition-duration, color $button-transition-duration;

  &:hover {
    text-decoration: none;
  }
}

// Color

@each $color in $component-colors {
  @each $type in $button-types {
    .button-#{$color}-#{$type} {
      @include button-pattern-mixin($color, $type);
    }
  }
}

// Shape

@each $shape in $button-shapes {
  $props: map-get($component-shapes, $shape);

  .button-shape-#{$shape} {
    @include map-props-mixin($props);
  }
}

// Size

@each $size, $props in $button-sizes {
  .button-size-#{$size} {

    $font-size: map-get($props, "font-size");
    $gap      : map-get($props, "gap");
    $height   : map-get($props, "height");
    $padding-x: map-get($props, "padding-x");

    @include map-props-mixin(
      map-get($component-font-sizing, $font-size));

    @include map-props-mixin(
      map-get($component-gap-sizing, $gap));

    @include map-props-mixin(
      map-get($component-height-sizing, $height));

    @include map-props-mixin(
      map-get($component-padding-x-sizing, $padding-x));
  }
}
