/*
========================================
Styles */

@mixin btn-style-mixin($name) {
  $color      : var(--color-#{$name});
  $color-yiq  : var(--color-#{$name}-yiq);
  $color-rgb  : var(--color-#{$name}-rgb);

  $color-hover: rgba(
    $color-rgb,
    calc(100% - var(--component-brightness-hover))
  );

  $color-active: rgba(
    $color-rgb,
    calc(100% - var(--component-brightness-active))
  );

  background-color: $color;
  border-color    : $color;
  color           : $color-yiq;

  &:hover {
    background-color: $color-hover;
    border-color    : $color-hover;
  }

  &:focus,
  &:active {
    background-color: $color-active;
    border-color    : $color-active;
  }
}

@mixin btn-style-outline-mixin($name) {
  $color      : var(--color-#{$name});
  $color-yiq  : var(--color-#{$name}-yiq);
  $color-rgb  : var(--color-#{$name}-rgb);

  $color-hover: rgba(
    $color-rgb,
    calc(100% - var(--component-brightness-hover))
  );

  $color-active: rgba(
    $color-rgb,
    calc(100% - var(--component-brightness-active))
  );

  border-color: $color;
  color       : $color;

  &:hover {
    background-color: $color-hover;
    border-color    : $color-hover;
    color           : $color-yiq;
  }

  &:focus,
  &:active {
    background-color: $color-active;
    border-color    : $color-active;
    color           : $color-yiq;
  }
}

/*
========================================
Sizing */

@mixin btn-sizing-mixin($props) {
  @each $name, $value in $props { #{$name}: #{$value}; }
}
