$breadcrumbs-divider: "/";
$breadcrumbs-divider-color: var(--color-body-muted);
$breadcrumbs-font-size: var(--font-size-xs);
$breadcrumbs-item-color: var(--color-body);
$breadcrumbs-item-spacer: var(--space-1);
$breadcrumbs-link-color: var(--color-body-subtle);
$breadcrumbs-link-hover-color: var(--color-link);
