@use "sass:map";

.icon {
  display: inline-flex;
  position: relative;
  transition: all $icon-transition-duration;

  > svg {
    height: 100%;
    width: 100%;
  }
}

// Color

@each $color, $props in $component-colors {
  .icon.component-color-#{$color} {
    color: var(--component-color);
  }
}

// Size

@each $name, $props in $icon-sizes {
  $size: map.get($props, "size");

  .icon.component-size-#{$name} {
    @include map-props-mixin(
      map.get($component-size-sizing, $size));
  }
}
