$nav-item-padding-x       : var(--component-space-base);
$nav-item-padding-y       : var(--component-space-base);

$nav-link-color           : var(--color-subtle);
$nav-link-hover-color     : var(--color-body);

$nav-link-active-color    : var(--color-heading);
